
<!DOCTYPE html>
<html lang="en-US">
<!--#include virtual="head.shtml" -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="http://local.procab.com/acqiris/wp-content/themes/acqiris/css/images/favicon.ico" />
    <title>Acqiris &#8211; Welcome</title>
    <meta name='robots' content='noindex,follow' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Acqiris &raquo; Feed" href="http://local.procab.com/acqiris/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Acqiris &raquo; Comments Feed" href="http://local.procab.com/acqiris/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/local.procab.com\/acqiris\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.3"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='swiper-min-css'  href='http://local.procab.com/acqiris/wp-content/themes/acqiris/vendor/swipermaster/swiper.min.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css'  href='http://local.procab.com/acqiris/wp-content/themes/acqiris/css/style.css?ver=1.0' type='text/css' media='all' />
    <script type='text/javascript' src='http://local.procab.com/acqiris/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='http://local.procab.com/acqiris/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='http://local.procab.com/acqiris/wp-content/themes/acqiris/vendor/swipermaster/swiper.min.js?ver=1.0'></script>
    <link rel='https://api.w.org/' href='http://local.procab.com/acqiris/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://local.procab.com/acqiris/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://local.procab.com/acqiris/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.8.3" />
    <link rel="canonical" href="http://local.procab.com/acqiris/" />
    <link rel='shortlink' href='http://local.procab.com/acqiris/' />
    <link rel="alternate" type="application/json+oembed" href="http://local.procab.com/acqiris/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocal.procab.com%2Facqiris%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://local.procab.com/acqiris/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocal.procab.com%2Facqiris%2F&#038;format=xml" />
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>
<body class="home page-template page-template-page-templates page-template-homepage page-template-page-templateshomepage-php page page-id-7">
<div class="wrapper" id="wrapper">
    <header class="header">
        <div class="shell">
            <div class="header__inner">
                <a href="http://local.procab.com/acqiris" class="logo">acqiris</a>
                <button class="btn-menu" type="button">
                    <span></span>
                </button><!-- /.btn-menu -->
                <div class="nav"><ul id="menu-header-menu" class="menu"><li id="menu-item-18" class="js-scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-18"><a href="#section-about">About us</a></li>
                        <li id="menu-item-24" class="js-scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-24"><a href="#section-synergy">Synergy</a></li>
                        <li id="menu-item-25" class="js-scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-25"><a href="#section-products">Products</a></li>
                        <li id="menu-item-26" class="js-scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a href="#section-contact">Contact</a></li>
                        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="http://newsroom.acqiris.com/news">Newsroom</a></li>
                    </ul></div>                </nav><!-- /.nav -->
            </div><!-- /.header__inner -->
        </div><!-- /.shell -->
    </header><!-- /.header -->    <div class="intro">
        <div class="slider slider--intro swiper-container">
            <div class="slider__slides swiper-wrapper">
                <div class="slider__slide swiper-slide" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/slider-bg-1.jpg">
                    <div class="shell">
                        <div class="slider__content">
                            <h3>Keysight PCIe-based Digitizer Group is now Acqiris!</h3>
                            <h3> <a href="Read more" class="btn">Learn more</a></h3>
                        </div><!-- /.slider__content -->
                    </div><!-- /.shell -->
                </div><!-- /.slider__slide -->
                <div class="slider__slide swiper-slide" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/slider-bg-2.jpg">
                    <div class="shell">
                        <div class="slider__content">
                            <h3>High-Speed ADC Cards with dedicated FPGA Processing</h3>
                            <h3> <a href="Learn more" class="btn">Learn more</a></h3>
                        </div><!-- /.slider__content -->
                    </div><!-- /.shell -->
                </div><!-- /.slider__slide -->

            </div><!-- /.slider__slides -->

            <div class="slider__actions">
                <div class="swiper-button-prev">
                    <i class="ico-arrow-left"></i>
                </div>
                <div class="swiper-button-next">
                    <i class="ico-arrow-right"></i>
                </div>
            </div><!-- /.slider__actions -->
        </div><!-- /.slider slider-/-intro -->
    </div><!-- /.intro -->

    <div class="main">
        <section class="section-two-columns js-section" id="section-about">
            <div class="shell">
                <div class="section__inner">
                    <header class="section__head">
                        <h2>
                            Welcome to <br>  Acqiris                </h2>
                        <p>Acqiris brings 20-year experience in the development of signal acquisition solution and proficiency in our customer applications.</p>
                        <a href="#section-contact" class="btn js-scroll-to">Contact Us</a>
                    </header><!-- /.section__head -->

                    <div class="section__body">
                        <p>Our history goes back to 1998 when we founded the original Acqiris, a leader in data acquisition. Later acquired by Agilent (2006) and Keysight Technologies (2014) as part of its PCIe-based digitizer group, Acqiris returned to its original company structure on August 1, 2017 to better serve the unique needs of each company’s customer base. Today, Acqiris benefits from the experience gained over the years with Agilent and Keysight Technologies.</p>
                        <p>The same dedicated team will continue to develop high-quality high-speed signal acquisition products, delivering technical excellence to your unique application. Whether manufacturing, applications, technical and after-sales services, they will continue to offer support by responding effectively to your specific signal acquisition needs from the earliest stages of system development.</p>
                        <p>Acqiris focuses its strategy on signal acquisition (ADC) components for OEMs, thus delivering an even higher level of service and support.</p>
                        <p>We greatly value the relationship of trust we have been able to build with you and look forward to working with you for many years to come.</p>
                    </div><!-- /.section__body -->
                </div><!-- /.section__inner -->
            </div><!-- /.shell -->
        </section><!-- /.section-two-columns -->

        <section class="section-blocks js-section" id="section-synergy">

            <h2>Trust in Synergy</h2>


            <div class="block-row js-animation">
                <div class="block-col block-col--1of6">
                    <div class="block block--height1 hidden-xs"></div><div class="block block--height1" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-1.jpg)"></div>        </div>

                <div class="block-col block-col--1of2">
                    <div class="block block--height2" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-2.jpg)"></div>        </div>

                <div class="block-col block-col--1of3">
                    <div class="block block--height3 hidden-xs"></div><div class="block block--height3" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-3.jpg)"></div>        </div>

            </div><!-- /.block-row -->




            <div class="block-row js-animation">

                <div class="block-col block-col--1of3">
                    <div class="block block--height3" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-4.jpg)"></div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->

                <div class="block-col block-col--1of6">
                    <div class="block block--height1 block--height-text" style="background-color:#e9550d">
                        <div class="block__inner">
                            <p>Bring technical<br />
                                excellence to your<br />
                                unique application.</p>
                        </div><!-- /.block__inner -->
                    </div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of2 -->
                <div class="block-col block-col--1of6">
                    <div class="block block--height1 block--height-text" style="background-color:#d6075f">
                        <div class="block__inner">
                            <p>Partner from<br />
                                the earliest phases<br />
                                of development.</p>
                        </div><!-- /.block__inner -->
                    </div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of2 -->
                <div class="block-col block-col--1of3">
                    <div class="block block--height3" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-5.jpg)"></div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->


            </div><!-- /.block-row -->


            <div class="block-row js-animation">
                <div class="block-col block-col--1of6">
                    <div class="block block--height1" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-6.jpg)"></div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->

                <div class="block-col block-col--1of3">
                    <div class="block block--height3" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-7.jpg)"></div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->

                <div class="block-col block-col--1of6">
                    <div class="block block--height1" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-8.jpg)"></div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->
                <div class="block-col block-col--1of3">
                    <div class="block block--height3" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-9.jpg)"></div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->

            </div><!-- /.block-row -->

            <div class="block-row js-animation">

                <div class="block-col block-col--1of3">
                    <div class="block block--height3" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-10.jpg)"></div><!-- /.block -->
                    <div class="block-col block-col--1of2">
                        <div class="block block--height1 hidden-xs"></div><!-- /.block -->
                    </div><!-- /.block-col block-col-/-1of2 -->

                    <div class="block-col block-col--1of2">
                        <div class="block block--height1" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-13.jpg)"></div><!-- /.block -->
                    </div><!-- /.block-col block-col-/-1of2 -->
                </div><!-- /.block-col block-col-/-1of6 -->

                <div class="block-col block-col--1of3">
                    <div class="block block--height1" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-11.jpg"></div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->

                <div class="block-col block-col--1of6">
                    <div class="block block--height1 block--height-text"  style="background-color:#d6075f">
                        <div class="block__inner">
                            <p>Partner from<br />
                                the earliest phases<br />
                                of development.</p>
                        </div><!-- /.block__inner -->
                    </div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of2 -->


                <div class="block-col block-col--1of6">
                    <div class="block block--height1" style="background-image: url(http://local.procab.com/acqiris/wp-content/uploads/2017/11/block-image-12.jpg)"></div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->


                <div class="block-col block-col--1of6">
                    <div class="block block--height1 block--height-btn">
                        <a href="#section-contact" class="btn js-scroll-to">Contact Us</a>
                    </div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->

                <div class="block-col block-col--1of6">
                    <div class="block block--height1 hidden-xs"></div><!-- /.block -->
                </div><!-- /.block-col block-col-/-1of6 -->
            </div><!-- /.block-row -->
        </section><!-- /.section-blocks -->

        <style>
            .swiper-container {
                width: 100%;
                height: 100%;
            }
            .swiper-slide {
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
            .swiper-pagination-bullet {
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                color:#000;
                opacity: 1;
                background: rgba(0,0,0,0.2);
            }
            .swiper-pagination-bullet-active {
                color:#fff;
                background: #029e8e !important;
            }
        </style>

        <div class="section-group js-section" id="section-products" xmlns="http://www.w3.org/1999/html">
            <section class="section-products">
                <header class="section__head">

                    <h2>Products</h2>

                    <p>High-speed ADC Cards with FPGA Real-Time Processing</p>

                </header><!-- /.section__head -->

                <div class="section__body">
                    <div class="tabs">
                        <div class="tabs__head">
                            <nav class="tabs__nav">
                                <ul>
                                    <li > <a href="#tab1">12-Bit</a></li>
                                    <li class="current"> <a href="#tab2">10-Bit</a></li>
                                    <li > <a href="#tab3">8-Bit</a></li>
                                </ul>
                            </nav><!-- /.tabs__nav -->
                        </div><!-- /.tabs__head -->

                        <div class="tabs__body">
                            <div class="tab " id="tab1">
                                <div class="tile">
                                    <figure class="tile__image">
                                        <img src="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5303A_ADC_Card.png" alt="U5303A PCIe High-Speed Digitizer - ADC Card, 12-bit, 4 GS/s, FPGA Signal Processing">
                                    </figure><!-- /.tile__image -->
                                    <div class="tile__content">
                                        <div class="tile__entry">
                                            <h5>U5303A PCIe High-Speed Digitizer - ADC Card, 12-bit, 4 GS/s, FPGA Signal Processing</h5>
                                            <div class="tile__text">
                                                <p>The U5303A is a two channel PCIe 12-bit signal acquisition card with programmable on-board processing.</p>
                                                <p>This ADC card occupies a single full-length PCIe slot of the host PC and captures signals on 2 channels, from DC to 2 GHz at 1 GS/s, 1.6 GS/s or 2 GS/s.</p>
                                                <p>Featuring DDR3 acquisition memory up to 4 GB, this digitizer includes a Xilinx FPGA allowing the implementation of custom real-time processing algorithms.                                                        <span class="show-more__wrapper">
                                                           <span>...</span>
                                                            <button type="button" class="show-more">Read more</button>
                                                        </span> </p>

                                            </div><!-- /.tile__text -->
                                            <div class="tile__collapsed">
                                                <br />
                                                The U5303A ADC card provides several firmware options:</p>
                                                <ul>
                                                    <li>The digitizer firmware option (-DGT) with up to 2 GS/s, 1.6 GS/s, 1 GS/s or 500 MS/s per channel, included in most configurations</li>
                                                    <li>The interleaved option (-INT) that allows two channels to be combined to reach 4 GS/s, 3.2 GS/s or 2 GS/s in one channel acquisition mode</li>
                                                    <li>The real-time sampling and averaging option (-AVG) that performs waveform accumulations at up to 4 GS/s on single-channel and 2 GS/s on dual-channel</li>
                                                    <li>The real-time signal peak detection option (-PKD) that performs peak detection and enables generation of a histogram of peak versus time for successive acquisitions</li>
                                                    <li>The simultaneous acquisition and readout option that enables longer acquisition time, allowing to acquire signals while reading out the previously acquired data, either continuously (-CSR) or using triggered multi-records (-TSR)</li>
                                                </ul>
                                                <p>Besides, this ADC card offers the following application options:</p>
                                                <ul>
                                                    <li>The swept source OCT options that enables real-time OCT signal processing and supports A-scan rate from 50 kHz to 100 kHz (-SS1) or A-scan rate of 200 kHz (-SS2) – contact us for faster rate.</li>
                                                </ul>
                                                <p>Let our ADC card specialists help you find the best solution for your applications.</p>
                                            </div><!-- /.tile__collapsed -->
                                            <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/Datasheet_U5303A.pdf" class="btn" target="_blank">Datasheet</a>
                                        </div><!-- /.tile__entry -->
                                    </div><!-- /.tile__content -->
                                </div><!-- /.tile -->

                                <div class="accordion">
                                    <div class="accordion__section">
                                        <div class="accordion__head">
                                            <h4>Key Features & Specifications</h4>
                                        </div><!-- /.accordion__head -->
                                        <div class="accordion__body">
                                            <p><strong>Applications</strong></p>
                                            <ul>
                                                <li>Medical research instrumentation (e.g. OCT) and analytical time-of-flight (MS-TOF)</li>
                                                <li>Environmental monitoring (LiDAR), ultrasonic non-destructive testing (NDT)</li>
                                                <li>Astronomy, physics</li>
                                            </ul>
                                            <p><strong>Functionality</strong></p>
                                            <ul>
                                                <li>1 channel with 12-bit resolution at up to 4 GS/s sampling rate in interleaved mode</li>
                                                <li>2 channels at up to 2 GS/s simultaneous sampling rate</li>
                                                <li>DC up to 2 GHz bandwidth</li>
                                                <li>Dedicated firmware options and application options</li>
                                            </ul>
                                        </div><!-- /.accordion__body -->
                                    </div><!-- /.accordion__section -->
                                    <div class="accordion__section">
                                        <div class="accordion__head"> <h4>Document Library</h4></div><!-- /.accordion__head -->
                                        <div class="accordion__body">
                                            <div class="table">
                                                <table>
                                                    <tr>
                                                        <th>
                                                            <div>
                                                                <a href="http://local.procab.com/acqiris/document-list" target="_blank" class="btn">View All </a>
                                                            </div><!-- /.form__controls -->
                                                            </th>
                                                      </tr>
                                                    </table>
                                                <div class="swiper-container">
                                                <div  class="swiper-wrapper">

                                                    <div class="swiper-slide"> <table>                                                <tr >
                                                                <td>
                                                                    <h5><a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/MD2_SFP_Help.chm">MD2_SFP_Help</a></h5>
                                                                    <p><em></em><span>2017-11-23</span></p>
                                                                </td>
                                                                <td>
                                                                    <div class="file">
                                                                        <p>
                                                                            <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/MD2_SFP_Help.chm"><i class="ico-cmf"></i>
                                                                                CHM 5.6MB                                                                </a>
                                                                        </p>
                                                                    </div><!-- /.file -->

                                                                </td>
                                                            </tr>

                                                            <tr >
                                                                <td>
                                                                    <h5><a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5303_UserManual.chm">U5303 User Manual</a></h5>
                                                                    <p><em>Test</em><span>2017-11-23</span></p>
                                                                </td>
                                                                <td>
                                                                    <div class="file">
                                                                        <p>
                                                                            <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5303_UserManual.chm"><i class="ico-pdf"></i>
                                                                                CHM 6MB                                                                </a>
                                                                        </p>
                                                                    </div><!-- /.file -->

                                                                </td>
                                                            </tr>

                                                            <tr Style="border-bottom:none;">
                                                                <td>
                                                                    <h5><a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5303_UserManual.chm">User Manual</a></h5>
                                                                    <p><em>Test</em><span>2017-11-23</span></p>
                                                                </td>
                                                                <td>
                                                                    <div class="file">
                                                                        <p>
                                                                            <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5303_UserManual.chm"><i class="ico-cmf"></i>
                                                                                CHM 6MB                                                                </a>
                                                                        </p>
                                                                    </div><!-- /.file -->

                                                                </td>
                                                            </tr>

                                                        </table></div>

                                                </div>

                                            </div>
                                            </div><!-- /.table -->
                                        </div><!-- /.accordion__body -->
                                    </div><!-- /.accordion__section -->
                                </div><!-- /.accordion -->

                                <p>Acqiris continues to manufacture and support the U5203A 12-bit high-speed digitizer.</p>
                            </div><!-- /.tab -->
                        <div class="tab current" id="tab2">
                            <div class="tile">
                                <figure class="tile__image">
                                    <img src="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5310A_ADC_Card.png" alt="U5310A PCIe High-Speed Digitizer - ADC Card, 10-bit, 10 GS/s, FPGA Signal Processing">
                                </figure><!-- /.tile__image -->
                                <div class="tile__content">
                                    <div class="tile__entry">
                                        <h5>U5310A PCIe High-Speed Digitizer - ADC Card, 10-bit, 10 GS/s, FPGA Signal Processing</h5>
                                        <div class="tile__text">
                                            <p>The U5310A is a two channel PCIe, DC coupled 10-bit signal acquisition card providing sample rates up to 10 GS/s with 2.5 GHz bandwidth for use in a variety of advanced imaging and processing systems.</p>
                                            <p>Featuring unique spurious-free dynamic range (SFDR) and signal-to-noise ratio (SNR) performances in high frequencies, especially at 250 mV full scale range (FSR), the U5310A ADC card is suited for embedded OEM applications requiring signal acquisition at wide bandwidth and high dynamic range.                                                        <span class="show-more__wrapper">
                                                           <span>...</span>
                                                            <button type="button" class="show-more">Read more</button>
                                                        </span> </p>

                                        </div><!-- /.tile__text -->
                                        <div class="tile__collapsed">
                                            </p>
                                            <p>At the heart of the ADC card is a data processing unit (DPU) based on the Xilinx FPGA enabling real-time signal processing.</p>
                                            <p>The U5310A includes a digitizer firmware (-DGT) with up to 5 GS/s per channel.</p>
                                            <p>Moreover, additional firmware options are available:</p>
                                            <ul>
                                                <li>The interleaved option (-INT) that enables up to 10 GS/s on one channel, doubling the sampling rate while maintaining the same signal integrity high performances</li>
                                                <li>The average option (-AVG) that allows accumulation of waveforms from 1 to 16k triggers on dual synchronous channels at up to 5 GS/s, or on single channel at 10 GS/s. An innovative programmable trigger output can be used to optimize the signal-to-noise ratio (SNR) and increase the ability to isolate very small peaks from the signal noise</li>
                                                <li>The continuous simultaneous acquisition and readout with triggers (-CST) option that supports multiple triggered record acquisitions and simultaneous output data streaming.</li>
                                            </ul>
                                            <p>&nbsp;</p>
                                            <p>Let our ADC card specialists help you find the best solution for your applications.</p>
                                            <p>&nbsp;</p>
                                        </div><!-- /.tile__collapsed -->
                                        <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/Datasheet_U5310A.pdf" class="btn" target="_blank">Datasheet</a>
                                    </div><!-- /.tile__entry -->

                                </div><!-- /.tile__content -->
                            </div><!-- /.tile -->

                            <div class="accordion">

                                <div class="accordion__section">
                                    <div class="accordion__head">
                                        <h4>Key Features & Specifications</h4>
                                    </div><!-- /.accordion__head -->
                                    <div class="accordion__body">
                                        <p><strong>Applications</strong></p>
                                        <ul>
                                            <li>Analytical time-of-flight (MS-TOF)</li>
                                            <li>Environmental monitoring (LiDAR)</li>
                                            <li>Ultrasonic non-destructive testing (NDT), distributed strain and temperature sensors (DSTS)</li>
                                            <li>Medical research instrumentation</li>
                                        </ul>
                                        <p><strong>Functionality</strong></p>
                                        <ul>
                                            <li>2 channels with 10-bit resolution simultaneously sampling at up to 5 GS/s</li>
                                            <li>1 channel at 10 GS/s with interleaving enabled</li>
                                            <li>DC up to 2.5 GHz analog bandwidth and large acquisition memory up to 4 GB</li>
                                        </ul>
                                        <p>Low distortion and optimized frequency response flatness.</p>
                                    </div><!-- /.accordion__body -->
                                </div><!-- /.accordion__section -->

                                <div class="accordion__section">
                                    <div class="accordion__head"> <h4>Document Library</h4></div><!-- /.accordion__head -->

                                    <div class="accordion__body">
                                        <div class="table">
                                            <table>
                                                <tr>
                                                    <th>
                                                        <div>
                                                            <a href="http://local.procab.com/acqiris/document-list" target="_blank" class="btn">View All </a>
                                                        </div><!-- /.form__controls -->

                                        </th>
                                        </tr>
                                        </table>

                                        <div class="swiper-container">
                                            <div  class="swiper-wrapper">

                                                <div class="swiper-slide"> <table>                                                <tr Style="border-bottom:none;">
                                                            <td>
                                                                <h5><a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/MD2_SFP_Help.chm">MD2_SFP_Help</a></h5>
                                                                <p><em></em><span>2017-11-23</span></p>
                                                            </td>
                                                            <td>
                                                                <div class="file">
                                                                    <p>
                                                                        <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/MD2_SFP_Help.chm"><i class="ico-cmf"></i>
                                                                            CHM 5.6MB                                                                </a>
                                                                    </p>
                                                                </div><!-- /.file -->

                                                            </td>
                                                        </tr>

                                                        <tr Style="border-bottom:none;">
                                                            <td>
                                                                <h5><a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5309_UserManual.chm">U5309 User Manual</a></h5>
                                                                <p><em>Test</em><span>2017-11-23</span></p>
                                                            </td>
                                                            <td>
                                                                <div class="file">
                                                                    <p>
                                                                        <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5309_UserManual.chm"><i class="ico-cmf"></i>
                                                                            CHM 5MB                                                                </a>
                                                                    </p>
                                                                </div><!-- /.file -->

                                                            </td>
                                                        </tr>

                                                        <tr Style="border-bottom:none;">
                                                            <td>
                                                                <h5><a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5309_StartupGuide.pdf">U5309 Startup Guide</a></h5>
                                                                <p><em>Startup Guide</em><span>2017-11-22</span></p>
                                                            </td>
                                                            <td>
                                                                <div class="file">
                                                                    <p>
                                                                        <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5309_StartupGuide.pdf"><i class="ico-pdf"></i>
                                                                            PDF 6MB                                                                </a>
                                                                    </p>
                                                                </div><!-- /.file -->

                                                            </td>
                                                        </tr>

                                                    </table></div></table></div>

                                        </div>

                                    </div>

                                </div><!-- /.table -->
                            </div><!-- /.accordion__body -->
                        </div><!-- /.accordion__section -->
                    </div><!-- /.accordion -->

                </div><!-- /.tab -->
                <div class="tab " id="tab3">
                    <div class="tile">
                        <figure class="tile__image">
                            <img src="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5309A_ADC_Card.png" alt="U5309A PCIe High-Speed Digitizer - ADC Card, 8-bit, 2 GS/s, FPGA Signal Processing">
                        </figure><!-- /.tile__image -->
                        <div class="tile__content">
                            <div class="tile__entry">
                                <h5>U5309A PCIe High-Speed Digitizer - ADC Card, 8-bit, 2 GS/s, FPGA Signal Processing</h5>


                                <div class="tile__text">
                                    <p>The U5309A is a multichannel PCIe 8-bit signal acquisition card with programmable on-board processing.</p>
                                    <p>This ADC card occupies a single full-length PCIe slot of the host computer and captures signal on 1 or 2 channels at 2 GS/s, 1 GS/s or 500 MS/s.</p>
                                    <p>Featuring an analog bandwidth from DC to 500 MHz and a large DDR3 memory for long acquisition time, the U5309A also includes a Xilinx FPGA allowing implementation of custom real-time processing algorithms.
                                        <span class="show-more__wrapper">
                                                           <span>...</span>
                                                            <button type="button" class="show-more">Read more</button>
                                                        </span> </p>

                                </div><!-- /.tile__text -->
                                <div class="tile__collapsed">
                                    </p>
                                    <p>While providing high performance in a small footprint, it offers an ideal data acquisition platform for many commercial, industrial and aerospace &amp; defense embedded systems and is particularly suited for OEM Applications.</p>
                                    <p>The U5309A ADC card includes a digitizer firmware (-DGT) with up to 2 GS/s per channel.</p>
                                    <p>Moreover, additional firmware options are available:</p>
                                    <ul>
                                        <li>The real-time sampling and averaging option (-AVG) that enables synchronous real-time sampling and accumulation up to 2 GS/s on a single-channel and 1 GS/s on dual-channel</li>
                                        <li>The real-time signal peak detection option (-PKD) that provides synchronous real-time sampling and peak detection up to 2 GS/s on single-channel and 1 GS/s on dual-channel</li>
                                        <li>The triggered simultaneous acquisition and readout (-TSR) that is dedicated to applications requiring no trigger loss, achieving longer recording time when compared with standard digitizer.</li>
                                    </ul>
                                    <p>Besides, -AVG and -TSR firmware can be combined allowing signal acquisition, real time averaging and data readout simultaneously, on a single channel.</p>
                                    <p>Let our ADC card specialists help you find the best solution for your applications.</p>
                                </div><!-- /.tile__collapsed -->


                                <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/Datasheet_U5309A.pdf" class="btn" target="_blank">Datasheet</a>

                            </div><!-- /.tile__entry -->

                        </div><!-- /.tile__content -->
                    </div><!-- /.tile -->

                    <div class="accordion">

                        <div class="accordion__section">
                            <div class="accordion__head">
                                <h4>Key Features & Specifications</h4>
                            </div><!-- /.accordion__head -->
                            <div class="accordion__body">
                                <p><strong>Applications</strong></p>
                                <ul>
                                    <li>Analytical time-of-flight (MS-TOF)</li>
                                    <li>Laser ranging / Emission monitoring</li>
                                    <li>Ultrasonic imaging, Advanced research experiments</li>
                                </ul>
                                <p><strong>Functionality</strong></p>
                                <ul>
                                    <li>1 or 2 channels at up to 2 GS/s</li>
                                    <li>8-bit resolution and a DC to 500 MHz frequency range</li>
                                    <li>Up to 2 GB DDR3 on-board memory and acquisition control using a Xilinx FPGA</li>
                                    <li>Dedicated firmware options and application options</li>
                                </ul>
                            </div><!-- /.accordion__body -->
                        </div><!-- /.accordion__section -->

                        <div class="accordion__section">
                            <div class="accordion__head"> <h4>Document Library</h4></div><!-- /.accordion__head -->

                            <div class="accordion__body">
                                <div class="table">
                                    <table>
                                        <tr>
                                            <th>
                                                <div>
                                                    <a href="http://local.procab.com/acqiris/document-list" target="_blank" class="btn">View All </a>
                                                </div><!-- /.form__controls -->
                                </div><!-- /.sorting -->
                                </th>
                                </tr>
                                </table>

                                <div class="swiper-container">
                                    <div  class="swiper-wrapper">

                                        <div class="swiper-slide"> <table>                                                <tr Style="border-bottom:none;">
                                                    <td>
                                                        <h5><a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/MD2_SFP_Help.chm">MD2_SFP_Help</a></h5>
                                                        <p><em></em><span>2017-11-23</span></p>
                                                    </td>
                                                    <td>
                                                        <div class="file">
                                                            <p>
                                                                <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/MD2_SFP_Help.chm"><i class="ico-cmf"></i>
                                                                    CHM 5.6MB                                                                </a>
                                                            </p>
                                                        </div><!-- /.file -->

                                                    </td>
                                                </tr>

                                                <tr Style="border-bottom:none;">
                                                    <td>
                                                        <h5><a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5310A_UserManual.chm">U5310A User Manual</a></h5>
                                                        <p><em>Test</em><span>2017-11-23</span></p>
                                                    </td>
                                                    <td>
                                                        <div class="file">
                                                            <p>
                                                                <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5310A_UserManual.chm"><i class="ico-cmf"></i>
                                                                    CHM 5MB                                                                </a>
                                                            </p>
                                                        </div><!-- /.file -->

                                                    </td>
                                                </tr>

                                                <tr Style="border-bottom:none;">
                                                    <td>
                                                        <h5><a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5310A_StartupGuide.pdf">U5310A Startup Guide</a></h5>
                                                        <p><em>Startup Guide</em><span>2017-11-22</span></p>
                                                    </td>
                                                    <td>
                                                        <div class="file">
                                                            <p>
                                                                <a href="http://local.procab.com/acqiris/wp-content/uploads/2017/11/U5310A_StartupGuide.pdf"><i class="ico-pdf"></i>
                                                                    PDF 3MB                                                                </a>
                                                            </p>
                                                        </div><!-- /.file -->

                                                    </td>
                                                </tr>

                                            </table></div></table></div>

                                </div>

                            </div>

                        </div><!-- /.table -->
                    </div><!-- /.accordion__body -->
                </div><!-- /.accordion__section -->
        </div><!-- /.accordion -->

    </div><!-- /.tab -->

</div><!-- /.tabs__body -->
</div><!-- /.tabs -->
</div><!-- /.section__body -->
</section><!-- /.section-products -->

<section class="section-callout">
    <header class="section__head">
        <div class="shell">
            <blockquote>
                <p>
                    <span>"</span>
                    We look forward to joining forces with you

                    <br>

                    to develop and deliver the critical ADC technology

                    <br>

                    you need for your applications.                            <span>"</span>
                </p>
            </blockquote>
            <p>Didier Lavanchy, CEO</p>                </div><!-- /.shell -->
    </header><!-- /.section__head -->

    <div class="section__image">
        <div class="shell">

            <img src="http://local.procab.com/acqiris/wp-content/uploads/2017/11/map.jpg" alt="Map Image" class="map js-animation">

            <img src="http://local.procab.com/acqiris/wp-content/uploads/2017/11/welcome-2.png" alt="Welcome Image" class="words js-animation">
        </div><!-- /.shell -->
    </div><!-- /.section__image -->
</section><!-- /.section-callout -->
</div><!-- /.section-group -->

<script>
    (function() {
        var swiper = new Swiper('.swiper-container', {
            observer: true,
            observeParents: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                renderBullet: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + '</span>';
                },
            },
        });
    })();
</script>

<style>
    .swiper-pagination {
        position: relative !important;
        margin-top: 30px;
    }
    .swiper-wrapper {
        height: auto;
    }
</style>    </div><!-- /.main -->
<!--#include virtual="partials/footer.shtml" -->
<footer class="footer js-section" id="section-contact">
    <div class="footer__content">
        <div class="shell">
            <div class="cols cols--flex">
                <div class="col col--size2">
                    <div class="contacts">
                        <header class="contacts__head">
                            <h5>Headquarters</h5>
                            <a href="https://www.google.bg/maps/place/Acqiris+SA/@46.1689133,6.1017803,17z/data=!3m1!4b1!4m5!3m4!1s0x478c7b719f50c475:0x44df66003e27a36e!8m2!3d46.1689133!4d6.103969" class="btn-map" target="_blank">
                                <i class="ico-map-pin"></i>
                            </a>
                        </header><!-- /.contacts__head -->

                        <div class="contacts__body">
                            <p>Acqiris</p>
                            <p>Chemin des Aulx 12<br />
                                1228 Plan-les-Ouates<br />
                                Switzerland <img class="alignnone size-full wp-image-89" src="http://local.procab.com/acqiris/wp-content/uploads/2017/11/ico-swiz-flag.png" alt="" width="16" height="16" /></p>
                            <p><a href="tel:41228843290">+41 22 884 32 90</a></p>
                        </div><!-- /.contacts__body -->
                    </div><!-- /.contacts -->
                </div><!-- /.col col-/-size2 -->
                <div class="col">
                    <div class="contact-wrapper">
                        <ul class="list-contacts">
                            <li>
                                <h5>Acqiris Americas</h5>
                                <a href="mailto:contact-americas@acqiris.com">contact-americas@acqiris.com</a>
                            </li>
                            <li>
                                <h5>Acqiris Asia-Pacific</h5>
                                <a href="mailto:contact-asia-pacific@acqiris.com">contact-asia-pacific@acqiris.com</a>
                            </li>
                            <li>
                                <h5>Acqiris Europe</h5>
                                <a href="mailto:contact-emea@acqiris.com">contact-emea@acqiris.com</a>
                            </li>
                            <li>
                                <h5>Contact us</h5>
                                <a href="mailto:hello@acqiris.com">hello@acqiris.com</a>
                            </li>
                            <li>
                                <h5>Support</h5>
                                <a href="mailto:support@acqiris.com">support@acqiris.com</a>
                            </li>

                        </ul><!-- /.list-contacts -->
                    </div><!-- /.contact-wrapper -->
                </div><!-- /.col -->
            </div><!-- /.cols cols-/-flex -->

            <a href="#wrapper" class="btn-scrolltop js-scroll-to">
                <i class="ico-arrow-up"></i>
            </a>
        </div><!-- /.shell -->
    </div><!-- /.footer__content -->

    <div class="footer__bar">
        <div class="shell">
            <p class="copyright">Copyright &copy; 2017 Acqiris. All rights reserved.</p><!-- /.copyright -->

            <p class="credits">
                Design by <a href="#">Procab Studio</a>
            </p><!-- /.credits -->
        </div><!-- /.shell -->
    </div><!-- /.footer__bar -->
</footer><!-- /.footer -->
</div><!-- /.wrapper -->
<script type='text/javascript' src='http://local.procab.com/acqiris/wp-content/themes/acqiris/js/functions.js?ver=1.0'></script>
<script type='text/javascript' src='http://local.procab.com/acqiris/wp-includes/js/wp-embed.min.js?ver=4.8.3'></script>
</body>
</html>
