/* 
	Table of Contents

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Base -------------------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     03. Fonts ------------------------------------
	     04. Helpers ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Disabled ---------------------------------
	         Grid -------------------------------------
	         Mobile -----------------------------------
	         Responsive Helpers -----------------------
	II.  Regions --------------------------------------
	     01. Container --------------------------------
	     02. Content ----------------------------------
	     03. Footer -----------------------------------
	         Mobile -----------------------------------
	     04. Header -----------------------------------
	         Tablet Portrait --------------------------
	     05. Main -------------------------------------
	     06. Shell ------------------------------------
	     07. Sidebar ----------------------------------
	     08. Wrapper ----------------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	III. Modules --------------------------------------
	     01. Accordion --------------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     02. Block ------------------------------------
	         Small Desktop ----------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     03. Button -----------------------------------
	         Button Block -----------------------------
	         Tablet Portrait --------------------------
	     04. Button Menu ------------------------------
	         Mobile -----------------------------------
	     05. Button Map -------------------------------
	     06. Button ScrollTop -------------------------
	         Mobile -----------------------------------
	     07. Contacts ---------------------------------
	         Tablet Portrait --------------------------
	     08. Contact Wrapper --------------------------
	     09. Form Elements ----------------------------
	     10. Form -------------------------------------
	     11. List -------------------------------------
	     12. List Contacts ----------------------------
	         Small Desktop ----------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     13. Logo -------------------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     14. Nav --------------------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     15. Section ----------------------------------
	     16. Section Callout --------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     17. Section Two Columns ----------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     18. Section Blocks ---------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     19. Section Products -------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     20. Slider -----------------------------------
	         Small Desktop ----------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     21. Sorting ----------------------------------
	     22. Tabs -------------------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     23. Table ------------------------------------
	         Mobile -----------------------------------
	     24. Tile -------------------------------------
	         Small Desktop ----------------------------
	         Mobile -----------------------------------
	     25. Widget -----------------------------------
 */

.ico-arrow-left { background-image: url(images/sprite.png); background-position: 93.38842975206612% 62.06896551724138%; background-size: 1612.5% 769.2307692307693%; width: 8px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-arrow-right { background-image: url(images/sprite.png); background-position: 93.38842975206612% 81.60919540229885%; background-size: 1612.5% 769.2307692307693%; width: 8px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-arrow-up { background-image: url(images/sprite.png); background-position: 100% 0%; background-size: 806.25% 625%; width: 16px; height: 16px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-cmf { background-image: url(images/sprite.png); background-position: 98.26086956521739% 22.988505747126435%; background-size: 921.4285714285713% 769.2307692307693%; width: 14px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-map-pin { background-image: url(images/sprite.png); background-position: 82.6086956521739% 0%; background-size: 921.4285714285713% 500%; width: 14px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-pdf { background-image: url(images/sprite.png); background-position: 98.26086956521739% 42.5287356321839%; background-size: 921.4285714285713% 769.2307692307693%; width: 14px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.logo { background-image: url(images/sprite.png); background-position: 0% 0%; background-size: 141.75824175824175% 100%; width: 91px; height: 100px; display: inline-block; vertical-align: middle; font-size: 0; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.ico-arrow-left { background-image: url(images/sprite.@2x.png); background-position: 93.38842975206612% 22.988505747126435%; background-size: 1612.5% 769.2307692307693%; width: 8px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-arrow-right { background-image: url(images/sprite.@2x.png); background-position: 93.38842975206612% 42.5287356321839%; background-size: 1612.5% 769.2307692307693%; width: 8px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-arrow-up { background-image: url(images/sprite.@2x.png); background-position: 100% 0%; background-size: 806.25% 625%; width: 16px; height: 16px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-map-pin { background-image: url(images/sprite.@2x.png); background-position: 82.6086956521739% 0%; background-size: 921.4285714285713% 500%; width: 14px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
	.logo { background-image: url(images/sprite.@2x.png); background-position: 0% 0%; background-size: 141.75824175824175% 100%; width: 91px; height: 100px; display: inline-block; vertical-align: middle; font-size: 0; }}
.cols:after,
.block-row:after,
.table p:after { content: ''; line-height: 0; display: table; clear: both; }
/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }
html { tap-highlight-color: rgba(0,0,0,0); }
body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }
img,
iframe,
video,
audio,
object { max-width: 100%; }
img,
iframe { border: 0 none; }
img { height: auto; display: inline-block; vertical-align: middle; }
b,
strong { font-weight: bold; }
address { font-style: normal; }
svg:not(:root) { overflow: hidden; }
a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }
a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }
button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
button,
select { text-transform: none; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
nav ul,
nav ol { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
body { min-width: 320px; background: #fff; font-family: 'Gotham', sans-serif; font-size: 16px; line-height: 1.2; color: #56565a; }
a { color: inherit; text-decoration: underline; transition: color .3s, background .3s; }
a:hover { text-decoration: none; }
a[href^="tel"] { text-decoration: none; }
h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.6em; }
h1 { font-size: 52px; }
h2 { font-size: 48px; font-weight: 900; color: #56565a; }
h3 { font-size: 36px; font-weight: 900; }
h4 { font-size: 24px; font-weight: 900; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.2em; }
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }
/* Tablet Portrait */
@media (max-width: 1024px) {
	h1 { font-size: 43px; }
	h2 { font-size: 40px; }
	h3 { font-size: 30px; }
	h4 { font-size: 20px; }
	h5 { font-size: 16px; }
	h6 { font-size: 14px; }
}
/* Mobile */
@media (max-width: 767px) {
	body { font-size: 15px; }
	h1 { font-size: 36px; }
	h2 { font-size: 33px; }
	h3 { font-size: 25px; }
	h4 { font-size: 16px; }
}
/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
@font-face {
  font-family: 'Effra';
  src:  url('fonts/Effra-Heavy.eot?#iefix') format('embedded-opentype'),
  		url('fonts/Effra-Heavy.woff') format('woff'), 
  		url('fonts/Effra-Heavy.ttf') format('truetype'), 
  		url('fonts/Effra-Heavy.svg#Effra') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src:  url('fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), 
  		url('fonts/Gotham-Thin.otf') format('opentype'),
  		url('fonts/Gotham-Thin.woff') format('woff'), 
  		url('fonts/Gotham-Thin.ttf') format('truetype'), 
  		url('fonts/Gotham-Thin.svg#Gotham') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src:  url('fonts/GothamLight.eot?#iefix') format('embedded-opentype'), 
  		url('fonts/GothamLight.woff') format('woff'), 
  		url('fonts/GothamLight.ttf') format('truetype'), 
  		url('fonts/GothamLight.svg#Gotham') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src:  url('fonts/GothamBook.eot?#iefix') format('embedded-opentype'), 
  		url('fonts/GothamBook.woff') format('woff'), 
  		url('fonts/GothamBook.ttf') format('truetype'), 
  		url('fonts/GothamBook.svg#Gotham') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src:  url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), 
  		url('fonts/Gotham-Bold.otf') format('opentype'),
  		url('fonts/Gotham-Bold.woff') format('woff'), 
  		url('fonts/Gotham-Bold.ttf') format('truetype'), 
  		url('fonts/Gotham-Bold.svg#Gotham') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src:  url('fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'), 
  		url('fonts/Gotham-Black.otf') format('opentype'),
  		url('fonts/Gotham-Black.woff') format('woff'), 
  		url('fonts/Gotham-Black.ttf') format('truetype'), 
  		url('fonts/Gotham-Black.svg#Gotham') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */
/* Default list items */
ul {
	line-height: 1.5;
	font-weight: 300;
	margin-bottom: 24px;
}

li {
	padding-bottom: 8px;
	list-style-position: inside;
}
/*  Clear  */
.clear:after { content: ''; line-height: 0; display: table; clear: both; }
/*  Notext  */
.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }
/*  Hidden  */
[hidden],
.hidden { display: none; }
/*  Alignleft  */
.alignleft { float: left; }
/*  Alignright  */
.alignright { float: right; }
/*  Disabled  */
[disabled],
.disabled { cursor: default; }
/*  Grid  */
.cols { margin: 0 -15px; }
.cols:after { }
.cols--flex { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }
.col { float: left; width: 100%; padding: 0 15px; }
.col-1of2 { width: 50%; }
.col--size1 { width: 100%; }
.col--size2 { width: 210px; min-width: 210px; }
/* Mobile */
@media (max-width: 767px) {
	.cols--flex { display: block; }

	.col { width: 100%; }
	.col + .col { margin-top: 30px; }
}
/*  Responsive Helpers  */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }
@media (max-width: 767px) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}
@media (min-width: 768px) and (max-width: 1024px) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}
@media (min-width: 1025px) and (max-width: 1200px) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}
@media (min-width: 1201px) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}
/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */
.container {}
/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */
.content {}
/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer { background: #56565a; color: #fff; }
.footer .footer__content { border-bottom: 1px solid #7f7f7f; padding-bottom: 9px; }
.footer .footer__content .shell { position: relative; padding-top: 65px; }
.footer .footer__content .btn-scrolltop { position: absolute; right: 15px; top: -35px; z-index: 5; }
.footer .footer__bar { padding: 25px 0; }
.footer .footer__bar .shell { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }
.footer .footer__bar .credits { padding-right: 70px; }
.footer .footer__bar .credits a { text-decoration: none; font-weight: 900; color: #bbdbd4; }
.footer .footer__bar .credits a:hover { color: #029e8e; }
.footer .footer__bar p { margin-bottom: 0; font-weight: 500; }


.footer .left-col, .footer .right-col{
	width: 50%;
	padding: 0 15px;
}


.footer .list-inline h5{
	display: inline-block;
}
.footer .list-inline .btn-map{
	display: inline-block;
}

.footer .contacts__head{
	margin-bottom: 35px;
}

.footer .contacts__head h5{
	margin-bottom: 15px;
}

.footer .career{
	max-width: 165px;
}

.footer .has-border{
	position: relative;
	
}

.footer .has-border:after{
	content: '';
	position: absolute;
	top: 0;
	right: 60px;
	width: 2px;
	height: 100%;
	background: #6c6b70;
}

.contact--by-wechat{
	position: relative;
	padding-right: 50px;
	max-width: 250px;
}

.contact--by-wechat a, .contact--by-mail a{
	text-decoration: none;
	color: #bbdbd4;
	font-weight: 700;
	font-size: 15px;
}

.contact--by-wechat a:hover, .contact--by-mail a:hover{
	color: #029e8e;
}

.wechat-block p{
	margin-bottom: 5px;
}
.wechat-block .wechat-icon{
	max-width: 45px;
	margin-left: 15px;
	position: absolute;
	top: 0;
	right: 0;
}

@media (max-width: 1024px) {

	.footer .shell > .cols--flex{
		display: block;
	}

	.footer .left-col, .footer .right-col{
		width: 100%;
	}

	.footer .sub-col{
		width: 50%;
	}

	.footer .has-border{
		padding-bottom: 0;
		margin-bottom: 30px;
	}

	.footer .has-border:after{
		bottom: 0;
		left: 0;
		right: auto;
		top: auto;
		height: 2px;
		width: 100%;
	}
}


/* Mobile */
@media (max-width: 767px) {
	.footer .sub-col{
		width: 100%;
	}

	.footer .career{
		max-width: 100%;
	}
	.footer .footer__bar { font-size: 14px; }
	.footer .footer__bar .shell { display: block; }
	.footer .footer__bar .credits { padding-right: 0; }

	.footer .footer__bar .copyright { margin-bottom: 20px; }

	.footer .footer__content .btn-scrolltop { top: -25px; }
}
/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header { position: fixed; top: 0; left: 0; width: 100%; z-index: 50; background: #fff; padding: 10px 0; box-shadow: 0 -1px 10px rgba(0, 0, 0, .2); }
.header .header__inner { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding-left: 9px;}
/* Tablet Portrait */
@media (max-width: 1024px) {
	
	.header .header__inner { padding-left: 0; }
}
/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
.main {}
/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
.shell { max-width: 1310px; padding-left: 15px; padding-right: 15px; margin: auto; }
.shell-fluid { max-width: none; }
/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */
.sidebar {}
/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper { min-height: 100vh; position: relative; padding-top: 120px; overflow: hidden; }
/* Tablet Portrait */
@media (max-width: 1024px) {
	.wrapper { padding-top: 103px; }
}
/* Mobile */
@media (max-width: 767px) {
	.wrapper { padding-top: 82px; }
}
/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Accordion
\* ------------------------------------------------------------ */
.accordion { max-width: 1310px; margin: 0 auto; padding: 0 15px; }
.accordion .accordion__head { cursor: pointer; padding: 22px 50px 20px 70px; position: relative; }
.accordion .accordion__head:before { content: ''; width: 12px; height: 8px; background: url(images/ico-arrow-down-green@2x.png) no-repeat 0 0; background-size: cover; position: absolute; top: 50%; right: 29px; -ms-transform: translateY(-50%); transform: translateY(-50%); }
.accordion .accordion__head h4 { margin: 0; transition: color .3s; }
.accordion .accordion__head:hover h4 { color: #d6075f; }
.accordion .accordion__body { display: none; padding: 20px 70px 40px; font-weight: 300; }
.accordion .accordion__body p { margin-bottom: 0; }
.accordion .accordion__body > p + p { margin-top: 25px; }
.accordion .accordion__section { border-bottom: 1px solid #c1c0c1; }
.accordion__body table tr > td {vertical-align: middle;}
/* Tablet Portrait */
@media (max-width: 1024px) {
	.accordion .accordion__head { padding: 20px 30px;  }
	.accordion .accordion__body { padding: 20px 30px 30px; }
}
/* Mobile */
@media (max-width: 767px) {
	.accordion { padding: 0; }
	.accordion .accordion__head { padding: 15px 30px 15px 15px;  }
	.accordion .accordion__head:before { right: 10px; }
	/*.accordion .accordion__body { padding: 15px; }*/
	.accordion .accordion__body { padding: 0 15px; /* padding: 0px; */ }
	.accordion .accordion__body .td,
	.accordion .accordion__body td,
	.accordion .accordion__body .th,
	.accordion .accordion__body th {padding-right: 0;padding-left: 0;}
	.block--height1 {
		margin-left: auto;
		margin-right: auto;
		padding-top: 50% !important;
		max-width: 50%;
	}

	.block--height3 {
		margin-left: auto;
		margin-right: auto;
		padding-top: 50% !important;
		max-width: 50%;
	}
}
/* ------------------------------------------------------------ *\
	Block
\* ------------------------------------------------------------ */
.block-row:after {}
.block-col { float: left; width: 100%; position: relative; }
.block-col--1of2 { width: 50%; }
.block-col--1of3 { width: 33.33%; }
.block-col--1of6 { width: 16.66%; }
.block { width: 100%; background-position: center center; position: relative; color: #fff; font-size: 24px; font-weight: 900; background-size: 100% 100%; }
.block .btn { position: absolute; top: 49%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.block .block__inner { position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; padding: 15px 10px; }
.block .block__inner p { max-width: 210px; width: 100%; font-family: 'Effra', sans-serif; font-weight: 900; line-height: 1.4; }
.block--height1 { padding-top: 100%; }
.block--height2 { padding-top: 66.67%; }
.block--height3 { padding-top: 50%; }
.block-row.js-animation .block-col { opacity: 0; left: -50px; transition: left .6s, opacity .6s; }
.block-row.js-animation.animate .block-col { left: 0; opacity: 1; }
.block-row.js-animation .block-col:first-child { transition-delay: .2s; }
.block-row.js-animation .block-col:nth-child(2) { transition-delay: .4s; }
.block-row.js-animation .block-col:nth-child(3) { transition-delay: .6s; }
.block-row.js-animation .block-col:nth-child(4) { transition-delay: .8s; }
.block-row.js-animation .block-col:nth-child(5) { transition-delay: 1s; }
.block-row.js-animation .block-col:nth-child(6) { transition-delay: 1.2s; }
/* Small Desktop */
@media (max-width: 1200px) {
	.block { font-size: 20px; }
}
/* Tablet Portrait */
@media (max-width: 1024px) {
	
	.block { font-size: 15px; }
}
/* Mobile */
@media (max-width: 767px) {
	.block-col--1of2,
	.block-col--1of3,
	.block-col--1of6 { width: 100%; }

	.block { background-size: cover; }
	.block--height-btn { padding-top: 100px;  }

	.block--height-text { padding-top: 50%; }
}
/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */
.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; 
	-webkit-appearance: none; -moz-appearance: none; appearance: none; text-decoration: none; 
	font-size: 10px; font-weight: 900; text-transform: uppercase; letter-spacing: .2em; min-width: 150px; 
	height: 40px; line-height: 40px; padding: 0 15px; border-radius: 4px; 
	background: #029e8e; color: #fff; }

.btn:hover { background: #d6075f; }

.btn-secondary{
	background: #d6075f
}

.btn-secondary:hover{
	background: #029e8e
}

.cookie-message .link a{
	text-transform: inherit !important;
}
/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; }
/* Tablet Portrait */
@media (max-width: 1024px) {
	
	.btn { min-width: 110px; letter-spacing: .1em; }
}
/* ------------------------------------------------------------ *\
	Button Menu
\* ------------------------------------------------------------ */
.btn-menu { display: none; height: 9px; padding: 20px 20px; position: absolute; top: 50%; right: 15px; -webkit-appearance: none; -moz-appearance: none; appearance: none; -ms-transform: translateY(-50%); transform: translateY(-50%); background: none; border: none; }
.btn-menu span { position: relative; display: block; width: 25px; height: 15px; border-top: 3px solid #029e8e; }
.btn-menu span:before,
.btn-menu span:after { position: absolute; left: 0; width: 100%; height: 3px; background: #029e8e; content: ''; }
.btn-menu span:before { top: -12px; }
.btn-menu span:after { top: 6px; }
.btn-menu span:before,
.btn-menu span:after,
.btn-menu span { 
	transition: all .3s linear; 
}
.btn-menu.active { background-color: transparent; }
.btn-menu.active span { border-color: transparent; }
.btn-menu.active span:before,
.btn-menu.active span:after { background: #029e8e; }
.btn-menu.active span:before {
-ms-transform: rotate(45deg) translate(3.5px, 9px);
    transform: rotate(45deg) translate(3.5px, 9px);
}
.btn-menu.active span:after {
-ms-transform: rotate(-45deg) translate(3.5px, -9px);
    transform: rotate(-45deg) translate(3.5px, -9px);
}
/* Mobile */
@media (max-width: 767px) {
	.btn-menu { display: block; }
}
/* ------------------------------------------------------------ *\
	Button Map
\* ------------------------------------------------------------ */
.btn-map { display: inline-block; vertical-align: middle; margin-left: 10px; text-align:center; padding: 10px; text-decoration: none; width: 40px; height: 40px; border-radius: 4px; background: #029e8e; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }
.btn-map:hover { background: #d6075f; }
/* ------------------------------------------------------------ *\
	Button ScrollTop
\* ------------------------------------------------------------ */
.btn-scrolltop { text-decoration: none; display: inline-block; vertical-align: middle; width: 70px; height: 70px; border-radius: 4px; background: #029e8e; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }
.btn-scrolltop:hover { background: #d6075f; }
/* Mobile */
@media (max-width: 767px) {
	.btn-scrolltop { width: 50px; height: 50px; }
}
/* ------------------------------------------------------------ *\
	Contacts
\* ------------------------------------------------------------ */
.contacts .contacts__head { /*display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; margin: -10px 0 18px;*/ }
.list-contacts h5 { margin-bottom: 0; }
.contacts .contacts__body p { line-height: 1.5;	margin-bottom: 0;}
/* Tablet Portrait */

/* ------------------------------------------------------------ *\
	Contact Wrapper
\* ------------------------------------------------------------ */
.contact-wrapper { /*max-width: 950px;*/max-width: 850px; width: 100%; margin: 0 0 0 45px; }
/* ------------------------------------------------------------ *\




	Form Elements
\* ------------------------------------------------------------ */
input::-webkit-input-placeholder { color: inherit; opacity: 1; }
input:-ms-input-placeholder { color: inherit; opacity: 1; }
input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }
input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }
.field {}
.textarea {}
.select {}
.radio {}
.checkbox {}
/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */
.form {}
/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */
[class^="list-"] { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	List Contacts
\* ------------------------------------------------------------ */
.list-contacts {float:left; margin: 0 -10px; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.list-contacts li { width: 33.33%; margin-bottom: 55px; padding: 0 10px; }
.list-contacts a,.career-block a { text-decoration: none; color: #bbdbd4; font-weight: 700; font-size: 15px; }
.list-contacts a:hover, .career-block a:hover { color: #029e8e; }
.career-block h5 { margin-bottom: 30px; }

/*CSS for career block*/
.career-block{
	float:left;
}


/* Small Desktop */
@media (max-width: 1310px) {
	.contact-wrapper {
		max-width: 70%;
		margin:0;
	}
}

@media (max-width: 1024px) {
	.contact-wrapper {
		max-width: 60%;
		margin:0 auto;
	}

	.list-contacts li{
		width: 100% !important;
	}

	.career-block{
		float:none !important;
	}
}
@media (max-width: 767px) {
	.contact-wrapper{
		max-width: 100%;
	}
}

/* Small Desktop */
@media (max-width: 1200px) {
	.list-contacts { font-size: 14px; }
}
/* Tablet Portrait */
@media (max-width: 1024px) {
	.list-contacts li { margin-bottom: 30px; }
	.list-contacts h5 { margin-bottom: 15px; }
}
/* Mobile */
@media (max-width: 767px) {	
	.list-contacts { /*display: block;*/ display: flex; }
	.list-contacts li { width: 100%; margin-bottom: 25px; }
	.list-contacts li[data-eq-id="1"] {order:2;}
	.list-contacts li[data-eq-id="2"] {order:3;}
	.list-contacts li[data-eq-id="3"] {order:1;}
	.list-contacts li[data-eq-id="4"] {order:4;}
	.list-contacts li[data-eq-id="5"] {order:5;}
	.list-contacts li[data-eq-id="6"] {order:6;}
	.list-contacts h5 { margin-bottom: 10px; }
}
/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */
/* Tablet Portrait */
@media (max-width: 1024px) {
	.logo { width: 75px; height: 83px; }
}
/* Mobile */
@media (max-width: 767px) {
	.logo { width: 56px; height: 62px; }
}
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
.nav { padding-bottom: 2px; }
.nav .menu li { display: inline-block; vertical-align: middle; font-weight: 900; text-transform: uppercase; font-size: 14px; letter-spacing: .2em; }
.nav .menu a { text-decoration: none; color: #029e8e; }
.nav .menu li + li { margin-left: 27px; }
.nav .menu .current a { color: #d6075f; }
@media(min-width: 1025px){
	.nav .menu a:hover { color: #d6075f; }	
}

@media (min-width: 768px) {
	.nav {
		margin-top:60px;
	}
}

/* Tablet Portrait */
@media (max-width: 1024px) {
	
	.nav .menu li { font-size: 13px; }
	.nav .menu li + li  { margin-left: 15px; }
}
/* Mobile */
@media (max-width: 767px) {
	
	.nav { position: absolute; top: 50%; left: 0; width: 100%; background: #fff; text-align: center; padding: 10px 0; opacity: 0; visibility: hidden; transition: opacity .3s, top .3s, visibility .3s; }
	.nav.active { top: 100%; opacity: 1; visibility: visible; }

	.nav .menu li { display: block; }
	.nav .menu li + li { margin: 15px 0 0; }
}
/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */
.section {}
/* ------------------------------------------------------------ *\
	Section Callout
\* ------------------------------------------------------------ */
.section-callout .section__head { background: #029e8e; color: #fff; text-align: center; padding: 50px 0 50px; }
.section-callout .section__head p { font-weight: 300; font-size: 36px; line-height: 1.33; }
.section-callout .section__head blockquote { max-width: 910px; margin: 0 auto; }
.section-callout .section__head blockquote + p { margin-top: 30px; font-size: 26px; font-weight: 400; }
.section-callout .section__image { text-align: center; position: relative; background: #d8d8d6; padding-top: 2px; }
.section-callout .section__image .map { position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); opacity: 0; transition: opacity 1s 3s; }
.section-callout .section__image .map.animate { opacity: 1; }
.section-callout .section__image .words { position: relative; color: #fff; opacity: 1; transition: opacity 1s 3s; }
.section-callout .section__image .words.animate { opacity: 0; }
/* Tablet Portrait */
@media (max-width: 1024px) {
	
	.section-callout .section__head { padding: 60px 0; }
	.section-callout .section__head p { font-size: 30px; }
}
/* Mobile */
@media (max-width: 767px) {
	.section-callout .section__head { padding: 30px 0; }
	.section-callout .section__head p { font-size: 18px;  }

	.section-callout .section__head blockquote + p { font-size: 20px; }
}
/* ------------------------------------------------------------ *\
	Section Two Columns
\* ------------------------------------------------------------ */
.section-two-columns { padding: 35px 0 80px; }
.section-two-columns .section__inner { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; padding: 0 70px; margin: 0 auto; }
.section-two-columns .section__head,
.section-two-columns .section__body { width: 481px; }
.section-two-columns .section__head { font-size: 30px; font-weight: 300; }
.section-two-columns .section__head h2 { border-bottom: 1px solid #aaaaac; padding-bottom: 20px; margin-bottom: 20px; }
.section-two-columns .section__head p { line-height: 1.6; padding-bottom: 23px; }
.section-two-columns .section__body { font-weight: 500; line-height: 1.5; padding-top: 23px; margin-left: 20px; }
.section-two-columns .section__body p { margin-bottom: 0; }
.section-two-columns .section__body p + p { margin-top: 24px; }
/* Tablet Portrait */
@media (max-width: 1024px) {
	
	.section-two-columns { padding: 60px 0 40px; }
	.section-two-columns .section__inner { padding: 0; }

	.section-two-columns .section__head { font-size: 22px;  }
	.section-two-columns .section__head h2 { padding-bottom: 30px; margin-bottom: 30px; }
}
/* Mobile */
@media (max-width: 767px) {
	.section-two-columns { padding: 30px 0;  }
	.section-two-columns .section__inner { display: block; }

	.section-two-columns .section__head,
	.section-two-columns .section__body { width: 100%; }

	.section-two-columns .section__head { font-size: 18px; }
	.section-two-columns .section__head p { padding-bottom: 15px; margin-bottom: 15px; }

	.section-two-columns .section__body { margin-left: 0; margin-top: 20px; }
}
/* ------------------------------------------------------------ *\
	Section Blocks
\* ------------------------------------------------------------ */
.section-blocks { text-align: center; padding: 45px 0 60px; }
.section-blocks h2 { margin-bottom: 60px; }
/* Tablet Portrait */
@media (max-width: 1024px) {
	.section-blocks { padding: 30px 0 40px;  }
}
/* Mobile */
@media (max-width: 767px) {
	.section-blocks { padding: 15px 0 10px; }
	.section-blocks h2 { margin-bottom: 30px; }
}
/* ------------------------------------------------------------ *\
	Section Products
\* ------------------------------------------------------------ */
.section-products { padding: 70px 0 60px; }
.section-products .section__head { text-align: center; margin-bottom: 62px; }
.section-products .section__head h2 { position: relative; padding-bottom: 28px; margin-bottom: 27px; }
.section-products .section__head h2:before { content: ''; width: 108px; height: 1px; background: #aaaaac; position: absolute; top: 100%; left: 50%; -ms-transform: translateX(-50%); transform: translateX(-50%); }
.section-products .section__head p { font-weight: 300; font-size: 30px; }
/* Tablet Portrait */
@media (max-width: 1024px) {
	.section-products { padding: 30px 0 50px; }
}
/* Mobile */
@media (max-width: 767px) {
	.section-products .section__head { padding: 0 15px; margin-bottom: 40px; }
	.section-products .section__head p { font-size: 25px; }
}
/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
.slider { position: relative; }
.slider .slider__actions { width: 100%; max-width: 1620px; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 2; opacity: 0; visibility: hidden; transition: opacity .3s, visibility .3s; }
.slider:hover .slider__actions { opacity: 1; visibility: visible; }
.slider .slider__actions div { background: none; width: 70px; height: 70px; border-radius: 4px; background: #029e8e; cursor: pointer; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; transition: background .3s; margin-top: -35px; }
.slider .slider__actions div:hover { background: #d6075f; }
.slider .slider__slide { min-height: 500px; color: #fff; padding-top: 41px; background-size: cover; background-position: center center; display: -ms-flexbox; display: flex; }
.slider .slider__slide .shell { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: 0 85px; width: 100%; }
.slider .slider__content { width: 50%; max-width: 50%; position: relative; }

.slider .swiper-slide-active{
	z-index: 999;
}

.slider .swiper-slide-active .slider__content h3 { top: 0; opacity: 1; }
.slider .swiper-slide-active .slider__content .btn { opacity: 1; }

.slider .slider__content { padding-left: 0; padding-bottom: 33px; }
.slider .slider__content h3 { margin-bottom: 38px; top: 70px; opacity: 0; transition: top .6s 1s, opacity .6s 1s; position: relative; }
.slider .slider__content .btn { opacity: 0; transition: opacity .6s 1.6s; }

/*.slider .slider__content h3{opacity: 0; top: 70px; transition: top .6s 1s, opacity .6s 1s;}
*/

/*map Slider*/ 
#cycler{position:relative;max-width: 836px;margin:auto;height:400px;}
#cycler img{position:absolute;z-index:1;left:0;}
#cycler img.active{z-index:3}


@media (max-width: 768px) {
	#cycler{
		height: 355px;
	}
}

@media (max-width: 767px) {
	#cycler{
		height: 350px;
	}
}

@media (max-width: 480px) {
	#cycler{
		height: 220px;
	}
}

@media (max-width: 320px) {
	#cycler{
		height: 150px;
	}
}

/*#crossfade > img { 
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:30%;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 8s linear infinite 0s;
    -moz-animation: imageAnimation 8s linear infinite 0s;
    -o-animation: imageAnimation 8s linear infinite 0s;
    -ms-animation: imageAnimation 8s linear infinite 0s;
    animation: imageAnimation 8s linear infinite 0s; 
}

#crossfade > img:nth-child(2)  {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s; 
    left:36%;
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}*/

/*CSS For synergy boxes color*/

@keyframes bgcolor {
	0% { opacity: 0.2;
    animation-timing-function: ease-in; }
    25% { opacity: 1;
         animation-timing-function: ease-out; }
    50% { opacity: 0.2 }
    75% { opacity: 1 }
    100% { opacity: 0.2 }

}

@-ms-@keyframes bgcolor {
	0% { opacity: 0.2;
    animation-timing-function: ease-in; }
    25% { opacity: 1;
         animation-timing-function: ease-out; }
    50% { opacity: 0.2 }
    75% { opacity: 1 }
    100% { opacity: 0.2 }

}

@-o-@keyframes bgcolor {
	0% { opacity: 0.2;
    animation-timing-function: ease-in; }
    25% { opacity: 1;
         animation-timing-function: ease-out; }
    50% { opacity: 0.2 }
    75% { opacity: 1 }
    100% { opacity: 0.2 }

}

@-moz-@keyframes bgcolor {
	0% { opacity: 0.2;
    animation-timing-function: ease-in; }
    25% { opacity: 1;
         animation-timing-function: ease-out; }
    50% { opacity: 0.2 }
    75% { opacity: 1 }
    100% { opacity: 0.2 }

}

@-webkit-@keyframes bgcolor {
	0% { opacity: 0.2;
    animation-timing-function: ease-in; }
    25% { opacity: 1;
         animation-timing-function: ease-out; }
    50% { opacity: 0.2 }
    75% { opacity: 1 }
    100% { opacity: 0.2 }

}

.block-col--1of6 p{
	animation: bgcolor 8s linear infinite 0s;
}


/*CSS FOR banner fadein*/
@keyframes fadein {
	0% { opacity: 0;
    animation-timing-function: ease-in; }
    50% { opacity: 0.5;
         animation-timing-function: ease-out; }   
    100% { opacity: 1 }

}

@-ms-@keyframes fadein {
	0% { opacity: 0;
    animation-timing-function: ease-in; }
    50% { opacity: 0.5;
         animation-timing-function: ease-out; }   
    100% { opacity: 1 }
}

@-o-@keyframes fadein {
	0% { opacity: 0;
    animation-timing-function: ease-in; }
    50% { opacity: 0.5;
         animation-timing-function: ease-out; }   
    100% { opacity: 1 }
}

@-moz-@keyframes fadein {
	0% { opacity: 0;
    animation-timing-function: ease-in; }
    50% { opacity: 0.5;
         animation-timing-function: ease-out; }   
    100% { opacity: 1 }
}

@-webkit-@keyframes fadein {
	0% { opacity: 0;
    animation-timing-function: ease-in; }
    50% { opacity: 0.5;
         animation-timing-function: ease-out; }   
    100% { opacity: 1 }
}

.slider__slide/*,
.slider .swiper-slide-active*/{
	animation: fadein 2s linear;
}


/* Small Desktop */
@media (max-width: 1200px) {
	.slider .slider__slide { padding: 40px 90px 0; }
	.slider .slider__slide .shell { padding: 0 15px; }
}
/* Tablet Portrait */
@media (max-width: 1024px) {
	.slider .slider__slide { min-height: 400px; padding: 30px 70px 0; }
	.slider .slider__actions div { width: 60px; height: 60px; }
}
/* Mobile */
@media (max-width: 767px) {
	.slider .slider__slide { padding: 20px 0 45px; min-height: 350px; }
	.slider .slider__actions div { width: 40px; height: 40px; }
	.slider .slider__actions { top: auto; bottom: 15px; -ms-transform: translateX(-50%); transform: translateX(-50%); opacity: 1; visibility: visible; }

	.slider .slider__content { width: 80%; max-width: 280px; }

}
/* ------------------------------------------------------------ *\
	Sorting
\* ------------------------------------------------------------ */
.sorting { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: end; justify-content: flex-end; }
.sorting .form__label { font-weight: 300; display: inline-block; margin-right: 15px; }
.sorting select { color: #000; }
/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */
.tabs .tabs__head  { margin-bottom: 44px; }
.tabs .tabs__nav { text-align: center; }
.tabs .tabs__nav li { display: inline-block; vertical-align: middle; }
.tabs .tabs__nav li + li { margin-left: 35px; }
.tabs .tabs__nav a { text-decoration: none; text-transform: uppercase; display: block; padding: 0 40px 18px; font-weight: 900; font-size: 24px; color: #c1c0c1; letter-spacing: .2em; position: relative; }
.tabs .tabs__nav a:before { content: ''; width: 0; height: 4px; background: #029e8e; position: absolute; top: 100%; left: 50%; -ms-transform: translateX(-50%); transform: translateX(-50%); transition: width .3s; }
.tabs .tabs__nav .current a:before { width: 100%; }
.tabs .tabs__nav .current a  { color: #029e8e; }
.tabs .tabs__body { position: relative; }
.tabs .tab { position: absolute; opacity: 0; visibility: hidden; transition: opacity .5s, visibility .5s, transform .5s; -ms-transform: scale(.6); transform: scale(.6); }
.tabs .tab.current { position: relative; opacity: 1; visibility: visible; -ms-transform: scale(1); transform: scale(1); }
.tab .tile { margin-bottom: 67px; }
.tab .accordion { margin-bottom: 60px; }
.tab > p { text-align: center; font-weight: 300; }
@media(min-width: 1025px){
	.tabs .tabs__nav a:hover:before { width: 100%; }

	.tabs .tabs__nav a:hover { color: #029e8e; }
}
/* Tablet Portrait */
@media (max-width: 1024px) {
	
	.tabs .tabs__nav li + li { margin-left: 25px; }
	.tabs .tabs__nav a { font-size: 20px; letter-spacing: .1em; padding: 0 25px 15px; }

	/*.tab { padding: 0 15px; }*/
	.tab { padding: 0px 0px; }
	.tab .tile { margin-bottom: 30px; }
	.tab .accordion { margin-bottom: 40px; }
}
/* Mobile */
@media (max-width: 767px) {
	.tabs .tabs__nav li + li { margin-left: 10px; }
	.tabs .tabs__nav a { font-size: 16px; padding: 0 15px 8px; }

	.tabs .tabs__head { margin-bottom: 30px; }
}
/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */
.table { width: 100%;  }
.table h5 { color: #029e8e; font-size: 13px; }
.table h5 a:hover { color: #d6075f; }
.table a { text-decoration: none; }
.table p:after { }
.table p + p { margin-top: 15px; }
.table p em { font-size: 12px; float: left; }
.table p span { /*float: right;*/ font-size: 14px; }
.table tr { border-bottom: 1px solid #d8d8d6; }
.table td { padding: 20px 15px; }
.table tr td:last-child { text-align: right; }
.table tr th { text-align: left; padding: 10px 15px; color: #d8d8d6; font-weight: 300; }
.table tr th:last-child  { text-align: right; }
.table .file i { position: relative; top: 0; transition: top .3s; }
.table .file a:hover i { top: -3px; }
/* Mobile */
@media (max-width: 767px) {
	.table tr,
	.table td { display: block; }

	.table tr th:last-child { margin-left: auto; }
}
/* ------------------------------------------------------------ *\
	Tile
\* ------------------------------------------------------------ */
.tile { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }
.tile .tile__content,
.tile .tile__image { width: 50%; max-width: 50%; }
.tile .tile__content { padding: 0 15px 0 90px;  }
.tile .tile__entry { max-width: 476px; width: 100%; }
.tile h5 { line-height: 1.5; padding-right: 30px; font-weight: 900; margin-bottom: 24px; }
.tile p { line-height: 1.5; font-weight: 300; margin-bottom: 24px; }
.tile .btn { margin-top: 45px; }
.tile .show-more,.show-less  {background: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; 
	font-weight: 700; color: #029e8e; text-decoration: none;
	    min-width: 150px; }
.tile .show-more span { font-weight: 300; color: #56565a; }
.tile .show-more:hover { text-decoration: underline; }
.tile .tile__collapsed { display: none; margin-top: 24px; }
.tile .tile__entry p:last-child { margin-bottom: 0; }
.tile.shown .show-more__wrapper { display: none; }
.display {
	display: inline-block!important;
}


/* Small Desktop */
@media (max-width: 1200px) {
	
	.tile .tile__content { padding-left: 40px; }
}
@media(max-width: 899px){
	.tile { display: block; }

	.tile .tile__content,
	.tile .tile__image { width: 100%; max-width: 100%; }

	.tile .tile__content { padding: 30px 25px; }
	.tile .tile__entry { max-width: none; }
}
/* Mobile */
@media (max-width: 767px) {
	.tile .tile__image { margin: 0 -15px; }
	.tile .tile__image img { max-width: calc(100% + 30px); }
	.tile .tile__content { padding: 25px 15px; /* padding: 25px 0px; */ }

	.tile .btn { margin-top: 30px;  }
}
/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */
.widgets { list-style: none outside none; }

/*ADDED by kabita*/
.display {
 display: inline-block!important;
}



/*CSS For Cookies by ranjita*/
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom:0;
    background: #56565a;
    padding:0 0 15px 0;
    color: #fff;
    text-align: center;
}

.navbar-fixed-bottom span{
	display: inline-block;
	vertical-align: middle;
	margin-right:30px;
}

.navbar-fixed-bottom span.link{
	margin-bottom:15px;
	margin-top:15px;
}

.navbar-fixed-bottom span a{
	text-transform: uppercase;
	min-width:120px !important;
	border-radius: 0 !important;
	font-size: 16px;
	letter-spacing: 0;
	font-weight: normal;
}



/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8; }

.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; }

.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	box-sizing: border-box; }

.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }

.mfp-align-top .mfp-container:before {
	display: none; }

.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; }

.mfp-ajax-cur {
	cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out; }

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
	cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none; }

.mfp-loading.mfp-figure {
	display: none; }

.mfp-hide {
	display: none !important; }

.mfp-preloader {
	color: #CCC;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044; }
.mfp-preloader a {
	color: #CCC; }
.mfp-preloader a:hover {
	color: #FFF; }

.mfp-s-ready .mfp-preloader {
	display: none; }

.mfp-s-error .mfp-content {
	display: none; }

button.mfp-close,
button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	touch-action: manipulation; }

button::-moz-focus-inner {
	padding: 0;
	border: 0; }

.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65;
	padding: 0 0 18px 10px;
	color: #FFF;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace; }
.mfp-close:hover,
.mfp-close:focus {
	opacity: 1; }
.mfp-close:active {
	top: 1px; }

.mfp-close-btn-in .mfp-close {
	color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: #FFF;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%; }

.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #CCC;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap; }

.mfp-arrow {
	position: absolute;
	opacity: 0.65;
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: transparent; }
.mfp-arrow:active {
	margin-top: -54px; }
.mfp-arrow:hover,
.mfp-arrow:focus {
	opacity: 1; }
.mfp-arrow:before,
.mfp-arrow:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 35px;
	margin-left: 35px;
	border: medium inset transparent; }
.mfp-arrow:after {
	border-top-width: 13px;
	border-bottom-width: 13px;
	top: 8px; }
.mfp-arrow:before {
	border-top-width: 21px;
	border-bottom-width: 21px;
	opacity: 0.7; }

.mfp-arrow-left {
	left: 0; }
.mfp-arrow-left:after {
	border-right: 17px solid #FFF;
	margin-left: 31px; }
.mfp-arrow-left:before {
	margin-left: 25px;
	border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
	right: 0; }
.mfp-arrow-right:after {
	border-left: 17px solid #FFF;
	margin-left: 39px; }
.mfp-arrow-right:before {
	border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
	line-height: 0;
	width: 100%;
	max-width: 900px; }
.mfp-iframe-holder .mfp-close {
	top: -40px; }

.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000; }

/* Main image in popup */
img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	box-sizing: border-box;
	padding: 40px 0 40px;
	margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
	line-height: 0; }
.mfp-figure:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #444; }
.mfp-figure small {
	color: #BDBDBD;
	display: block;
	font-size: 12px;
	line-height: 14px; }
.mfp-figure figure {
	margin: 0; }

.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto; }

.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #F3F3F3;
	word-wrap: break-word;
	padding-right: 36px; }

.mfp-image-holder .mfp-content {
	max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
	/**
         * Remove all paddings around the image on small screen
         */
	.mfp-img-mobile .mfp-image-holder {
		padding-left: 0;
		padding-right: 0; }
	.mfp-img-mobile img.mfp-img {
		padding: 0; }
	.mfp-img-mobile .mfp-figure:after {
		top: 0;
		bottom: 0; }
	.mfp-img-mobile .mfp-figure small {
		display: inline;
		margin-left: 5px; }
	.mfp-img-mobile .mfp-bottom-bar {
		background: rgba(0, 0, 0, 0.6);
		bottom: 0;
		margin: 0;
		top: auto;
		padding: 3px 5px;
		position: fixed;
		box-sizing: border-box; }
	.mfp-img-mobile .mfp-bottom-bar:empty {
		padding: 0; }
	.mfp-img-mobile .mfp-counter {
		right: 5px;
		top: 3px; }
	.mfp-img-mobile .mfp-close {
		top: 0;
		right: 0;
		width: 35px;
		height: 35px;
		line-height: 35px;
		background: rgba(0, 0, 0, 0.6);
		position: fixed;
		text-align: center;
		padding: 0; } }

@media all and (max-width: 900px) {
	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform: scale(0.75); }
	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin: 0; }
	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin: 100%; }
	.mfp-container {
		padding-left: 6px;
		padding-right: 6px; } }



.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	text-align: center;
}


.popup__body{
	padding: 40px;
}
